<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite for SmartLogger SmartCoach" skipfailedinvocationcounts="false" configfailurepolicy="continue">

	<test name="Suite">
		<classes>
			<class name="com.qa.KabinetTests"/>
			<class name="com.qa.SwapiTests"/>
		</classes>
	</test>

</suite>
